@model WebNotas.Models.NF

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NF</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroNf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroNf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CnpjEmissorNf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CnpjEmissorNf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CnpjDestinatarioNf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CnpjDestinatarioNf)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NotaFiscalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
