@model IEnumerable<WebNotas.Models.NF>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroNf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnpjEmissorNf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CnpjDestinatarioNf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroNf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CnpjEmissorNf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CnpjDestinatarioNf)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NotaFiscalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NotaFiscalId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NotaFiscalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
